apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: regapp-deployment
  namespace: argocd
spec:
  project: default

  source:
    repoURL: "https://github.com/Devops-central-test/registration-manifests.git"
    targetRevision: main
    path: .        # manifests are stored in root of the repo

  destination:
    server: "https://kubernetes.default.svc"
    namespace: default

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
